@import "../../styles/global";

.gig-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(33, 33, 33, 0.4);
}

.order_col_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.order_col_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
