.why-onor-header {
  font-size: 43px;
  font-weight: 700;
}

.why-onor-img {
  margin-top: -55px;
  height: 110%;
  width: 110%;
}

.why-onor-icon {
  font-size: 30px;
}

.why-onor-text {
  font-size: 24px;
}
.why-onor-icon-svg {
  height: 40px;
  margin-left: -5px;
  margin-top: 5px;
}

@media screen and (max-width: 678px) {
  .why-onor-header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .why-onor-img {
    margin-top: 0px;
    height: 100%;
    width: 100%;
  }
}
