.feedback {
  margin: auto 5vw;
}
.box-details {
  text-align: center;
}
@media screen and (max-width: 768px) {
  h4 {
    padding-left: 45px;
  }
}
@media screen and (max-width: 600px) {
  .feedback {
    width: 50%;
    margin: auto 20vw;
    align-items: center;
    justify-content: center;
  }
  .expert {
    text-align: center;
  }
  h4 {
    padding-left: 45px;
  }
}
